.container {
  margin: 3.12rem 0;
  background-color: #e3edf7;
}

.card {
  margin: 0 2% !important;
  color: rgba(49, 69, 106, 1) !important;
  background-color: #e3edf7 !important;
  /* background-color: rgb(255, 255, 255) !important; */
  width: 18rem;
  text-align: center !important;
  box-shadow: 6px, 6px, 10px, -1px rgba(255, 255, 255, 0.15) -6px,
    -6px 10px -1px rgba(255, 255, 255, 0.7) !important;
  border: 1px solid rgba(0, 0, 0, 0) !important;
}

.card:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0 rgba(255, 255, 255, 1), 0.5px 0.5px 0 rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05) !important;
  border: 1px solid rgba(0, 0, 0, 0.01) !important;
}

.dates {
  color: rgb(64, 112, 232);
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0.9rem !important;
}

/* .infected {

} */

.infectedTitle {
  color: rgba(255, 251, 0, 0.808);
  font-weight: bold !important;
  font-size: 1.7rem !important;
}

/* .recovered {
  border-bottom: 0.6rem solid rgba(9, 255, 0, 0.808);
} */

.recoveredTitle {
  color: rgba(9, 255, 0, 0.808);
  font-weight: bold !important;
  font-size: 1.7rem !important;
}

/* .deaths {
  border-bottom: 0.6rem solid rgba(255, 0, 0, 0.808);
} */

.deathsTitle {
  color: rgba(255, 0, 0, 0.808);
  font-weight: bold !important;
  font-size: 1.7rem !important;
}
